.SearchUser {
    width: 60%;
    background-color: orange;
    border: 10px solid #fff;
    padding: 40px;
    text-align: left;
    position: relative;
    box-sizing: border-box;

    .search {
        width: 200px;
        height: 40px;
    }

    .searchBtn {
        position: absolute;
        right: 10%;
        height: 40px;
        width: 80px;
    }
}

.searchResultContainer {
    width: 60%;
    box-sizing: border-box;
    background-color: #dce1e2; 
    margin-top: 16px;
    border: 10px solid #fff;
    text-align: left;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
}